:root {
  --color-white: #FDFDFD;
  --color-white2: #F4F4F4;
  --color-gray: #9C9C9C;
  --color-gray2: #595959;
  --color-light-gray: #DADADA;
  --color-gray-dark: #161616;
  --color-accent: #22A0BC;

  --border-radius:50px;

  --font-family-base: 'Manrope', sans-serif;

  --container-width: 1440px;
  --container-padding-x: 15px;

  --input-hight: 42px;
  --input-border-radius: 50px;
  --button-hight: 46px;

  --tranition-duration: 0.2s;
}