@import "../../styles/mixins";
@import "../../styles/media";

.main {
  margin-top: 40px;
  position: relative;

  &__spacer {
    stroke: var(--color-light-gray);
    margin-top: 16px;
    margin-bottom: 28px;
    stroke-width: 1px;
  }
}

.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 0.5fr));
  justify-content: center;
  gap: 32px 40px;

  @include tablet {
    grid-template-columns: 1fr 1fr;
  }
  
  @media (max-width: 361px) {
    grid-template-columns: 1fr;
  }
}

.archive {
  margin-top: 40px;

  &__spacer {
    margin-top: 16px;
    margin-bottom: 28px;
  }

  &__users {
    margin-top: 28px;
    filter: grayscale(100%);

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 0.5fr));
    justify-content: center;
    gap: 32px 40px;

    @include tablet {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 361px) {
      grid-template-columns: 1fr;
    }
  }
}

.preloader {
  @include abs-center;
  text-align: center;
  font-size: 30px;
}