@import "../../styles/mixins";
@import "../../styles/media";
.card {
  &__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding: 24px;
    max-width: 360px;
    background-color: var(--color-white);
    border-radius: 16px;

    @include mobile {
      display: flex;
      flex-direction: column;
    }

    &-link {
      &::after {
        content: '';
        position: absolute;
        inset: 0;
      }
    }
  }

  &__right {
    position: relative;
  }

  &__firts {
    display: inline-flex;

    @include mobile {
      margin-top: 16px;
    }
  }


  &__title {
    color: var(--color-accent);
  }

  &__company {
    margin-top: 4px;
    font-size: 16px;
    color: var(--color-gray2);
  }

  &__city {
    margin-top: 48px;
    font-size: 14px;
    color: var(--color-gray);
  }

  &__dropdown {
    @include reset-btn;
    cursor: pointer;
  }

  &__points {
    @media (hover: hover) {
      &:hover {
        color: var(--color-accent);
      }
    }

    @media (hover: none) {
      &:active {
        color: var(--color-gray2);
      }
    }
  }
}

.dropdown {
  position: absolute;
  left: 40%;
  bottom: 20%;
  max-width: 200px;
  padding: 8px;
  border-radius: 12px;
  background-color: var(--color-white);
  box-shadow: 0 0 2px 0 #5A5A5A;
  display: none;

  @include tablet {
    left: 0;
    bottom: 0;
  }

  &__btn {
    @include reset-btn;
    display: flex;
    padding: 8px 12px;
    border-radius: 8px;
    font-size: 16px;

    @include hover {
      color: var(--color-accent);
    }

    @include desktop {
      font-size: 14px;
    }
  }
}

.dropdown.active {
  display: block;
}